<div class=" container header__container">
  <div class="header__container__img">
    <img
      src="../../../assets/home2.jpg"
      class="img-fluid"
      alt="home page image"
    />
  </div>
  <div
    class="d-flex flex-column bd-highlight align-items-center header__container__sub"
  >
    <h1 class="bd-highlight header__container__sub__title">{{ title }}</h1>
    <p class="bd-highlight header__container__sub__subtitle">
      {{ subtitle }}
    </p>
    <search></search>
  </div>
</div>
