<div class="row no-gutters hotel-listing__hotels__hotel">
  <div class="col-md-3 hotel-listing__hotels__hotel-image">
    <img
      src="../../../../assets/hotel.jpg"
      class="card-img "
      alt="hotel image"
    />
  </div>
  <div class="col-md-6 hotel-listing__hotels__hotel-info">
    <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
      <ngbd-rating-events></ngbd-rating-events>
      <p class="card-text">
        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ city }}
      </p>
      <hr />
      <p>
        <i class="fa fa-product-hunt" aria-hidden="true"></i>
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <i class="fa fa-paw" aria-hidden="true"></i>
        <i class="fa fa-bell-o" aria-hidden="true"></i>
        <i class="fa fa-bed" aria-hidden="true"></i>
        <i class="fa fa-coffee" aria-hidden="true"></i>
      </p>
    </div>
  </div>
  <div class="col-md-3 hotel-listing__hotels__hotel-reservation">
    <p>
      <span>4.5</span><span>Fabulous</span
      ><i class="fa fa-share-alt" aria-hidden="true"></i>
    </p>
    <div>
      <p>Tatal price for 4 nights</p>
      <p>12335</p>
      <button type="button" class="btn btn-primary">Aavaliable Rooms</button>
    </div>
  </div>
</div>
